{% extends 'base.html' %}

{% block content %}
<section>
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              	<p> Great ready, {{user.first}}! You're running the {{race}}! Go to the dashboard to see your training plan, and good luck!</p>
				<p> {{date}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

